/* CONTAINER */
.sidebar {
  width: 250px;
  background: #111122;
  padding: 1.5rem;
  border-radius: 12px;
  height: fit-content;
  position: fixed;
  left: 1rem;
  top: 7rem;
  color: white;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
  border: 1px solid #1d1d2e;
}

/* HEADER */
.sidebarTitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--primary);
}

/* SECTION */
.section {
  margin-bottom: 1.8rem;
}

.section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--primary);
}

/* OPTION ROWS */
.option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.4rem 0;
}

.option label {
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.9;
}

.option input[type="checkbox"],
.option input[type="radio"] {
  accent-color: var(--primary);
  cursor: pointer;
  width: 15px;
  height: 15px;
}

/* RATING SLIDER */
.slider {
  width: 100%;
}

.ratingLabel {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.85;
}

/* RESET BUTTON */
.resetBtn {
  width: 100%;
  padding: 0.6rem;
  background: var(--danger);
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  transition: 0.25s ease;
  font-size: 1rem;
}

.resetBtn:hover {
  background: #d7355c;
  transform: translateY(-2px);
}
